#APbal{
    -fx-background-color:"2d6adf";
}

#APStart{
     -fx-background-color:"dce1e9";
}

#APSettings{
     -fx-background-color:"dce1e9";
}

#btnE{
     -fx-background-color:"dce1e9";
}
#Rright{
     -fx-background-color:"2d6adf";
}
#Lleft{
     -fx-background-color:"2d6adf";
}
